.btn-primary {
  padding: 20px;
  background-color: #0948e3;
  border: none;
  color: white;
  border-radius: 5px;
}

.btn-secondary {
  padding: 20px;
  background-color: #dfe6e9;
  border: none;
  color: white;
  border-radius: 5px;
  color: #2d3436;
}